## Assignment 1

## 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6

In [1]:
a = 'hello'
print(type(a)) # String

<class 'str'>

In [2]:
b = 87.8
print(type(b)) # Values

<class 'float'>

In [3]:
c = '/'
print('Value of C or / is mathematical Operator/Expression')

Value of C or / is mathematical Operator/Expression

In [4]:
d = 6
print(type(d)) # Integer Valaues

<class 'int'>

## 2. What is the difference between string and variable?

**Variable:** Variable is the name of memory location that we used to store data values. 
    I can store different types of data like string, numbers, boolean and many more.
    We can assign values to variable and use it wherever and whenever we want.

**String:** String is a data type which is used to represent characters, symbols.

## 3. Describe three different data types.

**Integer:** It is a data type which is used to store whole number without fractions. It can store both positive and negative values including zero. It can be like -2, -1, 0, 1, 2.

**Float:** 
Float data type is used to store numbers with fractions only. It can store both positive and negative values except zero.

## 4. What is an expression made up of? What do all expressions do?

Expression made up of Operands and Operators. It combine these elements to represent a value.


**Operands**: Values are involved in the expression.like '12+14', 12 and 14 are the Operands.


**Operators**: This are symbols that perform specific operations on the operands. like '12+14', The Operator is the addition symbol (+). We have variety of operators like Arithmatic Operator, Logical Operators, Comparision Operator and many more.

## 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

## 6. After running the following code, what does the variable bacon contain?
bacon = 22

bacon + 1

Variable bacon will contain value 22 because we have assigned 22 value to to bacon.

## 7. What should the values of the following two terms be?
'spam' + 'spamspam'

'spam' * 3

In [5]:
a = 'spam' + 'spamspam'
print(a)

# '+' Operator used here to concatenate two strings.

spamspamspam

In [6]:
b = 'spam' * 3
print(b)
# '*' This operator will repeat the string according to operands.

spamspamspam

## 8. Why is eggs a valid variable name while 100 is invalid?

**Identifier Rules**
1. Identifiers can consist of letters (a-z or A-Z), digits (0-9), and underscores (_).
2. Identifiers must start with a letter (a-z or A-Z) or an underscore (_). They cannot start with a digit or any special character.
3. Here, 'myVariable' and 'myvariable' would be treated as two different identifiers.
4. Reserved words or Keywords, are already reserved by the programming language and cannot be used as identifiers.

'eggs' is a valid variable name because it follows the rules for identifiers, starting with a letter and only containing letters.

'100' is invalid as a variable name because it starts with a digit, which is not allowed by the identifier rules.

## 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [7]:
a = int(5)
print(a)
print(type(a))
b = int(5.6)
print(b)
print(type(b))

5
<class 'int'>
5
<class 'int'>

In [8]:
c = float(5)
print(c)
print(type(c))
d = float(5.5)
print(d)
print(type(d))

5.0
<class 'float'>
5.5
<class 'float'>

In [9]:
e = str(4.5)
print(e)
print(type(e))
f = str(4)
print(f)
print(type(f))

4.5
<class 'str'>
4
<class 'str'>

## 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [10]:
a = 'I have eaten ' + 99 + ' burritos.'
print(a)

TypeError: can only concatenate str (not "int") to str

99 is the Integer value. We cannot concatenate the string value with Integer.

For that, we have to convert Integer value into string to perform operations.

**Correct code :**

In [11]:
a = 'I have eaten ' + str(99) + ' burritos.'
print(a)

I have eaten 99 burritos.

## Thank You!