## Assignment 4

## 1. What exactly is []?

**[ ]** represents empty list in the programing. List is a data structure that stores an ordered collection of elements.

## 2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [1]:
spam = [2,4,6,8,10]
spam[2] = 'hello'
spam

[2, 4, 'hello', 8, 10]

## Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

## 3. What is the value of spam[int(int('3' * 2) / 11)]?

In [2]:
spam = ['a', 'b', 'c', 'd']
res = spam[int(int('3'*2)/11)]
res

'd'

## 4. What is the value of spam[-1]?

In [3]:
spam = ['a', 'b', 'c', 'd']
spam[-1]

'd'

## 5. What is the value of spam[:2]?

In [4]:
spam = ['a', 'b', 'c', 'd']
spam[:2]

['a', 'b']

## Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

## 6. What is the value of bacon.index('cat')?

In [5]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.index('cat')

1

## 7. How does bacon.append(99) change the look of the list value in bacon?

In [6]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.append(99)
bacon # 99 will get add in the end of the list.

[3.14, 'cat', 11, 'cat', True, 99]

## 8. How does bacon.remove('cat') change the look of the list in bacon?

In [7]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.remove('cat')
bacon # this will remove first occurance of the string 'cat'

[3.14, 11, 'cat', True]

## 9. What are the list concatenation and list replication operators?

In [8]:
# List Concatenation
list1 = [1,3,5]
list2 = [2,4,6]
concat = list1  + list2
concat #For Concatenation, addition (+) symbol used.

[1, 3, 5, 2, 4, 6]

In [9]:
# List Replication Operator
list1 = [2,4,6]
new_list = list1 * 3
new_list # For Replication, '*' symbol used.

[2, 4, 6, 2, 4, 6, 2, 4, 6]

## 10. What is difference between the list methods append() and insert()?

In [10]:
list1 = [2,4,6,8,10]
list1.append(100)
list1

[2, 4, 6, 8, 10, 100]

In [11]:
list2 = [2,4,6,8,10]
list2.insert(5, 100) # 5 is the index location and 100 will get us on 5th index location.
list2

[2, 4, 6, 8, 10, 100]

## 11. What are the two methods for removing items from a list?

In [12]:
list1 = [3,5,7,9,11]
list1.pop(3) # To remove element, we have to mention index number. If index number not provided,
                                                        #It will remove last element of the list.
list1

[3, 5, 7, 11]

In [13]:
list1 = [3,5,7,9,11,9]
list1.remove(9) # will get to remove exact number we want to remove or first occurance of that number.
list1

[3, 5, 7, 11, 9]

## 12. Describe how list values and string values are identical.

**Indexing :** Both Strings and Lists allows Indexing and It starts from 0 for both strings and lists.
    
**Slicing :** Both supports Slicing. It allows to to fetch the portion of sequence by mentioning start and end index.

**Sequence of Elements :** List is an ordered sequence of object types and Strings is an Ordered Sequence of characters.

## 13. What's the difference between tuples and lists?

**List :** Mutable, Consumes more memory, Operations like deletion and insertion easily performed.

**Tuples :** Immutable, Consumes less memory, Elements can be accessed easily.

## 14. How do you type a tuple value that only contains the integer 42?

In [14]:
tp = (42,)
print(tp)
print(tp[0])

(42,)
42

## 15. How do you get a list value's tuple form? How do you get a tuple value's list form?

In [15]:
list1 = [1,2,3,4,5,6,7,8]
tpl = tuple(list1)
tpl

(1, 2, 3, 4, 5, 6, 7, 8)

## 16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

In [16]:
list1 = [2,4,6]
list2 = list1
list1.append(100)
list1, list2

([2, 4, 6, 100], [2, 4, 6, 100])

## 17. How do you distinguish between copy.copy() and copy.deepcopy()?

**copy.copy():** It is a **shallow copy** which create reference to original object. If we change to copied object that will change to original object automatically.

**copy.deepcopy():** **deepcopy()** creates a new object and does really copying the original object to new one. Changing new object doesnot affect the original copy.

## Thank You!